		body {
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt; /* Размер основного шрифта в пунктах  */
		/*	background-image: url(images/FonBlack.png);  */
		/*	background-color: #f0f0f0; /* Цвет фона веб-страницы */ 
			background-color: #FAFAFA;
			
			color: #121310; /* Цвет основного текста */
			width: 100%;
			height: 100%;
			margin: 0;
}

		html {
			width: 100%;
			height: 100%;
			overflow:  hidden; 
}
		.page_header, .page_footer{
		height: 5%;
		flex: 100%;
		order: 0;
		background-color: #D1D1D1;
}
		.page_footer{
		height: 5%;
		width: 100%;
		flex: 100%;
		order: 0;
		position: relative;
		bottom: 0%;
		left: 0%;
		
}
		
		.tables{
			/*transition: all 2s; 
			box-sizing: border-box;*/
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			min-width: 100%;
			min-height: 90%;
			-webkit-box-direction: normal;
			-moz-box-direction: normal;
			-webkit-box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-pack: start;
			-moz-box-pack: start;
			-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-box-align: stretch;
			-moz-box-align: stretch;
			-webkit-align-items: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;
			
}	
		.tableRight {
			margin-left: 2%;
		/*	font-family: Calibri; /* Семейство шрифтов */
		/*	font-size: 11pt; /* Размер основного шрифта в пунктах  */
		/* 	background-image: url(images/FonLeftTable.png); */
		/*	background-color:#EEECBB;
		/*	margin-left: 20%;
			margin-top: 2%;
			padding: 1;
		/*	width: 75%; */
			/*height: 20000%;*/
			margin-bottom: 2%;
			/*display:table-cell;*/
		/*	min-height: 90%;
			max-height: none;
		/*	overflow:  hidden; */
		/*	border-bottom: 1px solid #121310; /* Параметры линии внизу */
		/*	border-left: 1px solid #121310; /* Линия слева от текста */
		/*	border-right: 1px solid #121310; /* Линия справа от текста */
		/*	border-top: 1px solid #121310; /* Линия сверху от текста */
			/*position:relative;*/
			height: 99999%;
			width: 70%;
			-webkit-flex:  0 1 60%;
           flex: 60%;
			-webkit-order: 0;
           order: 0;
		   align-self: auto;	
			
					
}
		.tableRight, .tableInfo{
		background-color:#FAFAFA;
		
}
		.tableInfo {
		/*	font-family: Calibri; /* Семейство шрифтов */
		/*	font-size: 11pt; /* Размер основного шрифта в пунктах  */
		/* 	background-image: url(images/FonLeftTable.png); */
		/*	background-color:#EEECBB;
		/*	margin-left: 20%;
			margin-top: 2%;
			padding: 1;
		/*	width: 75%; */
			/*height: 20000%;
			height: 99999%;*/
			margin-bottom: 2%;
			/*width: 25%;*/
			/*display:table-cell;*/
		/*	min-height: 90%;
			max-height: none;
		/*	overflow:  hidden; */
		/*	border-bottom: 1px solid #121310; /* Параметры линии внизу */
		/*	border-left: 1px solid #121310; /* Линия слева от текста */
		/*	border-right: 1px solid #121310; /* Линия справа от текста */
		/*	border-top: 1px solid #121310; /* Линия сверху от текста */
			/*position:relative;*/
			-webkit-flex:  0 1 25%;
           flex: 25%;
			-webkit-order: 0;
           order: 0;
		   align-self: auto;	
			
					
}
		.tableLeft {
			/*display:table-cell;*/
			/*position: absolute;*/
		/*	font-family: Calibri; /* Семейство шрифтов */
		/*	font-size: 11pt; /* Размер основного шрифта в пунктах  */
			background-color:#DDD;
		/*	background: #EEE; */
			/* background-image: url(images/FonTable.png); */
		/*	margin-left: 2%;
			/*padding: 1;*/
			width: 18%;
			
		/*	height: 99999%;*/
		/*	margin-bottom: 2%;
			overflow: hidden;
		/*	border: 1px solid #999;*/
			/*height: 100%;*/
			min-height: 90%
		/*	max-height: none;*/
		/*	border-bottom: 1px solid #121310; /* Параметры линии внизу */
		/*	border-left: 1px solid #121310; /* Линия слева от текста */
		/*	border-right: 1px solid #121310; /* Линия справа от текста */
		/*	border-top: 1px solid #121310; /* Линия сверху от текста */
			/*float: left;*/ /* Обтекание по правому краю */
			-webkit-flex:  0 1 15%;
           flex: 15%;
		   
			-webkit-order: 0;
           order: 0;
			align-self: auto;		   
		
}
/*блок ошибки +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		.error {
		/*	color: #121310;*/
			background-color:#FFCCCC;
			/*background-image: url(images/error.png);
			opacity: 0.7;*/
			position: relative;
			display: none;
			width: 90%;
			height: 20px;
			/*height: 25pt;*/
			margin-top: 5px;
			/*height: 5%;*/
			text-align: center;
			margin-left: 5%; /* Расстояние от левого края до линии */
			margin-right: auto; /* Расстояние от правого края до линии */
			background-repeat: no-repeat;
			background-position: 10px center;
}
	
		.active {
			color: #121310;
			/*background-color:#EEECBB;
			background-image: url(images/error.png);
			/*position: relative;
			display: none;*/
}
	
/*		.warning {
			color: #121310;
			background-color:#EEECBB;
			background-image: url(images/warning.png);
}

		.warning, .error {
			/* border: 1px solid; */
/*			margin: 10px 0px;
			padding:15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
}*/
/*блок ошибки --------------------------------------------------------------------- */


/*		.test {
			width: 80%;
			position: relative;
			margin-left: 10px;
}
		.delete_div{
			position: absolute;
			top: 5px;
			right: 5px;
			margin-left: 10px;
				
}

		.button {
			width: 60px;
			height: 25px;
			position: relative;
			color: #121310;
			background-color: white; /* Цвет фона кнопки */
	/*		padding-left: 0.2%; /* Расстояние между линией и текстом */
	/*		margin-left: 10px; /* Расстояние от левого края до линии */
	/*		padding-bottom: 0.2%; 
			margin-bottom: 10px; 
			padding-right: 0.2%; 
			margin-right: 10px;
			padding-top: 0.2%; 
			margin-top: 10px;
					
}
		.control{
			width: 100%;
			height: 100px;
			position: relative;
}
		.text{
			color: #121310;
			position: relative;
			margin-left: 10px;
			background-color: #white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */
			
/*}
		

		.input{
			
			width: 200px;
			background-color: white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */	

				
		
/*}*/
/* temp divs block +++++++++++++++++++++++++++++++++++++++++++++++++++++*/	
		.temp-div{
			background: #FAFAFA;
			border: 1px solid #999; /* Параметры линии внизу */
			width: 90%;
			margin-left: auto; /* Расстояние от левого края до линии */
			margin-right: auto; /* Расстояние от правого края до линии */
			display:table;
}
		#newElementName{
			width:30%;
			margin-top:10px;
	/*margin-bottom:10px;*/
			margin-left: 5%;
}
		.temp-div-header{
			width: 90%;
			margin-left: 5%; /* Расстояние от левого края до линии */
			margin-right: auto; /* Расстояние от правого края до линии */
			
}
		.select{
				margin-left: 10px;
}
		.textarea{
			position: relative;
			display: block;
			width: 90%;
			height: 100px;
			resize: none;	
			margin-bottom: 10px; 
			margin-top: 10px;
			margin-right: 5%;
			margin-left: 5%;
			background-color: white;
			font-family: Calibri;	
			font-size: 11pt;			
}
		.header {
			display: block;
			width: 100%;
			/*margin: auto;*/
			margin-top: 10px;
			background-color: white;
			 /* Расстояние между линией и текстом */			
}
		#radioInputTypesDiv > p{
			margin-left: 5%;
			margin-top: 0.2%;
			margin-bottom: 0;
			
		}
		#radioInputTypesDiv {
			margin-bottom: 5px;
			
		}
/*RADIO OPTIONS ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		#radioOptions, #fieldsList{
	
			position: relative;
			display: none;
			width: 90%;
			/*padding-left:5%;*/
			margin-left: 5%;
			margin-right: 5%;
			
	
	
}
		.radioOption > p{
			position:relative;
			height: 26px;
			display: block;
			width: 90%;
		/*	margin-left: 5%;*/
			
}
		.radioOption > input[type=text] [class = radioOptionInput] {
			position:relative;
			width: 35%;
			height: 20px;
			margin-left: 0px;
			background-color: white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */	
}
		.branchId{
			width: 15%;
			height: 16px;
			position: relative;
			margin-top: 2px;
			margin-bottom : 2px;
			margin-right: 10px;
			margin-left: 10px;
}
		.checkBox{
	
			margin-left: 5%;
	
}

		.active-checkBoxLabel{
	
	/*color:#C5AFCF;*/
			font-weight:bold;
	
	
}
/*RADIO OPTIONS ELEMENTS --------------------------------------------------------------------*/
/*Поля  для многострочного текста*/
		
/*temp divs block ------------------------------------------------------*/
/* ACCORIDON                  +++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		.accordion{
			background: #FAFAFA;
			border: 1px solid #999; /* Параметры линии внизу */
			width: 90%;
			margin-left: auto; /* Расстояние от левого края до линии */
			margin-right: auto; /* Расстояние от правого края до линии */
			display:table;
}
		 .accordiontextarea, .accordiontext, .editbutton, .removebutton, .header, .textarea  {
			padding-left: 0.2%; /* Расстояние между линией и текстом */	
			border: 1px solid #999;
		}
		
		.accordionheader {
		    margin: 0;
			background: #BBB;
		 /* Семейство шрифтов */
			font-size: 13pt;
			cursor: pointer;
			width: 100%;
			height:35px;
			padding-left: 0.2%;
			
						
		/*	margin-right: 2%;
			margin-left: 2%;*/
			opacity : 0.6;
			
}
		.accordion h3:hover {
			opacity : 0.8;
}
		.accordion h3.active {
			/* background-position: right 5px; */
}
		.accordion p {
	
			margin: 0;
			width: 90%;
			
			margin-right: auto;
			margin-left: auto;
		
}
		.accordiontextarea,.accordiontext {
			margin-right: 5%;
			margin-left: 5%;
		
}
		.accordiontextarea, .accordiontext {
		  resize: none;
		/*  border:none;*/
}
		.accordiontextarea {
			margin-top: 1%;
			margin-bottom: 1%;
	        font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			height: 100px;
			width: 90%;
}


		.accordiontext {
			margin-bottom: 2%;
	        width: 40%;
}


		.divacc{
			width: 100%;
}
		.active_header{
			opacity: 1.0;
	
}
/* чекбоксы  начало*/
		.checkBoxLabel{
			font-family: Calibri;
	/*margin-left: 5%;*/
	/*color:#828282;*/
}

/* чекбоксы  конец*/

.idSpan{
	float: right;
	/*margin-top:0;
	height: 35px;*/
	margin-right: 1px;
	
}
.not-filled{
			background-image: url(images/warning_bg.png);
			opacity: 0.7;
		}
/* ACCORIDON                  -----------------------------------------------------------*/
/* BUTTONS                  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		.editbutton, .removebutton, .addbutton, .addbuttonP, .addbutton, .editbuttonAccordion, .exit-button, .control-button{
		border:none;
		color: #121310;
		
}
		
		.control-button{
			width: 100%;
			/*background-image: url(images/buttons_bg.png);*/
			/*background-color: #00EE00;*/
			background-color: #DFDFDF;
			height: 40px;
			position: relative;
			font-size: 16px;
			/*margin: auto; */
			opacity: 1.0;
			font-size: 14pt;
			border: 1px solid #999;
}
		.editbutton, .removebutton, .addbuttonP, .addbutton, .idSpan, .help, .editbuttonAccordion{
		background-color: #FAFAFA;
}
		.editbutton, .removebutton{
		
		
		
		
	
		/* margin-bottom: 10px; */ 
		padding-right: 0.2%; 
		
		margin-right: 10px;
		
}
		
		.editbutton, .editbuttonAccordion  {
			
			height: 25px;
			position: relative;
			/*margin-left: 5%;*/ 
			
			/*margin-bottom: 5px;*/ 
			margin-top: 5px;
			padding-top: 0.2%;
			padding-bottom: 0.2%;
}

		.editbuttonAccordion {
			
			/*margin-left: 5%; */
			/*width: 80px;*/
			margin-bottom: 5px;
		
}
		.edit-block{
			/*margin-left: 5%;*/
			background-color: #EEE;
			width: 95%;
			margin-bottom: 0;
			padding-left :5%;
		}
		.editbutton{
			width: 32px;
			height: 32px;
			margin-left: 5px;
			/*background: linear-gradient(to top, #00FF00, #00EE00);*/
			background-position: 0px 0px;
			background-image: url(images/add.png);
}
		.editbutton:hover{
			background-position: 0px 33px;
}
		.removebutton:hover{
			background-position: 0px 22px;
}
		.removebutton {
	        width: 32px;
			height: 22px;
		
			top: 5px;
	
			
			background-image: url(images/minus.png);
			background-position: 0px 0px;
			position: relative;
	
			margin-left: 10px; 
		
		
	
}
		.editbutton:hover, .removebutton:hover{
			opacity: 1.0;
		
	}
		  .addbutton:hover, .editbuttonAccordion:hover,.control-button:hover{
		/*background-color: #8270B6;*/
			font-weight: bold;
			box-shadow: 0 0 10px #FA0;
	}
		.exit-button:focus, .addbutton:focus, .editbutton:focus{
			outline:none;
	}
		
	
/*хочу такие кнопки ! */
		.addbutton {
			width: 100%;
			background-image: url(images/add.png);
			background-position: 0px, 0px;
			/*background-color: #00EE00;*/
			height: 40px;
			position: relative;
			font-size: 16px;
			/*margin: auto; */
			opacity: 1.0;
		
			
					
}
		.addbutton:hover{ 
		
		/*opacity: 1.0;*/
		font-weight:bold;
		
		/*box-shadow: 0 0 10px #FA0;
		*/
}
		.addbuttonP {
			width: 90%;
			height: 40px;
			
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px !important;
			margin-bottom : 10px !important;
			opacity: 1.0;
		
			
					
}
		
		.exitP{
			position: relative;
			
			float: right;
			margin-right: 15px;
			
			width: 32px;
			height: 32px;
			/*margin: 0;*/
		}
		.exit-button{
			background-color: #FAFAFA;
			width: 32px;
			height: 32px;
			margin: 0;
			background-image: url(images/exit.png);
			background-position:0px 0px;
		}
		.exit-button:hover{
			background-position:0px 32px;
		}
/* BUTTONS                  ------------------------------------------------------------*/


		.focused{
			/*border: 2px solid;
			border-color :#F00;*/
			box-shadow: 0 0 10px #FA0;/*#DAA520;*/
			
}
/*HELP BLOCK +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
		.help{
			position:relative;
			width: 90%;
			display:none;
			/*float:right;*/
			padding: 1%;
			margin: 10px;
		/*	border-left: solid 1px;
			border-top: solid 1px;
			border-bottom: solid 1px;*/
	
}
		.help p{
			text-align:center;
			margin-top: 2px;
}
		.help h3{
			text-align:center;
			margin-top: 5px;
			margin-bottom: 0px !important;
}

/*HELP BLOCK --------------------------------------------------------------------------*/
/*SUBMIT BLOCK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


#submit-block {
	padding-right:1px;
	padding-left:-1px;
	/*background: #D6E68A;
	border-bottom: 1px solid #121310; /* Параметры линии внизу */
	/*border-left: 1px solid #121310; /* Линия слева от текста */
	/*border-right: 1px solid #121310; /* Линия справа от текста */
	/*border-top: 1px solid #121310; /* Линия сверху от текста */
	width: 90%;
	margin-left: auto; /* Расстояние от левого края до линии */
	margin-right: auto; /* Расстояние от правого края до линии */
	display: none;
	/*font-family: none;*/
	
}
/*SUBMIT BLOCK ------------------------------------------------------------------------*/
.dummy{
	font-family: Calibri; /* Семейство шрифтов */
	/*padding-right:5px;
	/*padding-left:-1px;*/
}

/* CANVAS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#scheeme{
/*height: 5000px;*/
width: 100%;
position: relative;
}
