		body {
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt; /* Размер основного шрифта в пунктах  */
			background-image: url(images/FonBlack.png);
			background-color: #f0f0f0; /* Цвет фона веб-страницы */
			color: #121310; /* Цвет основного текста */
			width: 100%;
			height: 100%;
}

		html {
			width: 100%;
			height: 100%;
}

		.tableRight {
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt; /* Размер основного шрифта в пунктах  */
		/* 	background-image: url(images/FonLeftTable.png); */
			background-color:#EEECBB;
			margin-left: 20%;
			margin-top: 2%;
			padding: 1;
			width: 75%;
			height: 90%;
			margin-bottom: 2%;
			overflow: auto;
			min-height: none;
			max-height: none;
			
					
}

		.tableLeft {
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt; /* Размер основного шрифта в пунктах  */
			background-color:#95AA61;
			/* background-image: url(images/FonTable.png); */
			margin-left: 2%;
			padding: 1;
			width: 20%;
			height: 90%;
			margin-bottom: 2%;
			overflow: auto;
			min-height: none;
			max-height: none;
			border-bottom: 1px solid #121310; /* Параметры линии внизу */
			border-left: 1px solid #121310; /* Линия слева от текста */
			border-right: 1px solid #121310; /* Линия справа от текста */
			border-top: 1px solid #121310; /* Линия сверху от текста */
			float: left; /* Обтекание по правому краю */ 
		
}
		.error {
			color: #121310;
			background-color:#EEECBB;
			background-image: url(images/error.png);
			position: relative;
			display: none;
}
	
		.active {
			color: #121310;
			background-color:#EEECBB;
			background-image: url(images/error.png);
			position: relative;
			display: block;
}
	
		.warning {
			color: #121310;
			background-color:#EEECBB;
			background-image: url(images/warning.png);
}

		.warning, .error {
			/* border: 1px solid; */
			margin: 10px 0px;
			padding:15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
}



		.test {
			width: 80%;
			position: relative;
			margin-left: 10px;
}
		.delete_div{
			position: absolute;
			top: 5px;
			right: 5px;
			margin-left: 10px;
				
}
		.button {
			width: 60px;
			height: 25px;
			position: relative;
			color: #121310;
			background-color: white; /* Цвет фона кнопки */
			padding-left: 0.2%; /* Расстояние между линией и текстом */
			margin-left: 10px; /* Расстояние от левого края до линии */
			padding-bottom: 0.2%; 
			margin-bottom: 10px; 
			padding-right: 0.2%; 
			margin-right: 10px;
			padding-top: 0.2%; 
			margin-top: 10px;
					
}
		.control{
			width: 100%;
			height: 100px;
			position: relative;
}
		.text{
			color: #121310;
			position: relative;
			margin-left: 10px;
			background-color: #white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */
			
}
		
		.input{
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			width: 200px;
			margin-left: 10px;
			background-color: white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */	

				
		
}
		
		.select{
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt; 
			margin-left: 10px;
}
		
		.textarea{
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			width: 70%;
			height: 100px;
			resize: none;	
			margin-bottom: 20px; 
			margin-top: 20px;
			margin-right: 0px;
			margin-left: 10px;
			background-color: white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */			
}



		.accordion {
			background: #D6E68A;
			border-bottom: 1px solid #121310; /* Параметры линии внизу */
			border-left: 1px solid #121310; /* Линия слева от текста */
			border-right: 1px solid #121310; /* Линия справа от текста */
			border-top: 1px solid #121310; /* Линия сверху от текста */
			width: 50%;
			margin-left: 10px; /* Расстояние от левого края до линии */
			display:table;
}
		.accordionheader {
		    margin-top: 2%;
			background: #95AA61;
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 13pt;
			cursor: pointer;
			width: 95%;
			padding-left: 0.2%; /* Расстояние между линией и текстом */
			
			margin-right: 2%;
			margin-left: 2%;			
			
}
		.accordion h3:hover {
			background-color: #e3e2e2;
}
		.accordion h3.active {
			/* background-position: right 5px; */
}
		.accordion p {
	
			margin: 0;
			width: 95%;
			margin-right: 2%;
			margin-left: 2%;
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
}
		.accordiontextarea {
			margin-top: 2%;
	        font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			height: 100px;
			resize: none;
			width: 95%;
			border:none;
			padding-left: 0.2%; /* Расстояние между линией и текстом */	
			margin-right: 2%;
			margin-left: 2%;	
	
}


		.accordiontext {
			margin-top: 2%;
	        font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			resize: none;
			width: 70%;
			border:none;
			padding-left: 0.2%; /* Расстояние между линией и текстом */	
			margin-right: 2%;
			margin-left: 2%;	
	
}


		.divacc{
			width: 100%;
}

		.editbutton {
	 width: 60px;
			height: 25px;
			position: relative;
			color: #121310;
			padding-left: 0.2%; 
			margin-left: 10px; 
			padding-bottom: 0.2%; 
			margin-bottom: 10px; 
			padding-right: 0.2%; 
			margin-right: 10px;
			padding-top: 0.2%; 
			margin-top: 10px;
			border: 1px solid black;
			background-color: #D6E68A;
			/* background-image: url(images/minus.png); */
			background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, transparent), color-stop(1,rgba(255,255,255,0.15)), to(transparent));
			background-image: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: -moz-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: -ms-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: -o-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			
}


	.removebutton {
	        width: 60px;
			height: 26px;
			left : 200px;
			position: absolute; 
			color: #121310;
			padding-left: 0.2%; 
			margin-left: 10px; 
			padding-bottom: 0.2%;  
			/* margin-bottom: 10px; */ 
			padding-right: 0.2%; 
			margin-right: 10px;
			padding-top: 0.2%; 
			/*margin-top: 10px; */
			border: 1px solid black;
			background-color: #D6E68A;
			/* background-image: url(images/minus.png); */
			background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.5, transparent), color-stop(1,rgba(255,255,255,0.15)), to(transparent));
			background-image: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: -moz-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: -ms-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: -o-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
			background-image: linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, rgba(255, 255, 255, 0.15) 100%);
	
}

.removebutton1 {
	width: 60px;
	height: 25px;
	color: #121310;
background-color: #EEECBB;
-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
-moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
border-top-color: rgba(255,255,255,0.5);
-webkit-border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em;
-moz-border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em;
border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em;
padding-left: 0.2%; 
			margin-left: 10px; 
			padding-bottom: 0.2%; 
			margin-bottom: 10px; 
			padding-right: 0.2%; 
			margin-right: 10px;
			padding-top: 0.2%; 
			margin-top: 10px;

}
		p {
			color: #121310;
			margin-left: 10px;
}
		.header {
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			width:200px;
			margin-top: 20px;
			background-color: white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */			
}

		.radioOptionInput{
			font-family: Calibri; /* Семейство шрифтов */
			font-size: 11pt;
			width: 200px;
			margin-left: 0px;
			background-color: white;
			padding-left: 0.2%; /* Расстояние между линией и текстом */	
}
.radioOption{
		position:relative;
}
.branchId{
	width: 80px;
	height: 20px;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}
.fieldsList{
		position:relative;
}
.focused{
	border: 1px solid;
	border-color : rgba(255,0,0,0.5);
}